.app-nav {
  background-color: #F04B52;
}

.app-nav-logo {
  max-width: 60px;
}

.app-content-container {
  padding: 60px;
}

.app-container-reset {
  padding: 0;
  margin: 0;
}

.app-search {
  max-width: 220px;
}

.app-navigation-bar-container {
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.app-navigation-button {
  margin: 0 10px;
  width: 56px;
}

.app-card {
  margin: 10px 0;
}

.app-card-body {
  padding: 8;
  min-height: 76px;
  align-items: center;
  justify-content: center;
}

.loading-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(192, 27, 27, 0.4);
}

.mdb-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  margin:-90px 0 0 -90px;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }